.bg{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("/bg.avif");
    z-index: -1;
    filter: blur(1000px);
}

.bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}